---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Historia del futbol',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Ultimos cambios tecnologicos en el futbol',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
      
    ]}
    image={{ src: '~/assets/images/roben.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      <span class="hidden xl:inline">Grandes cambios en el futbol con la tecnologia</span>
    
    </Fragment>

    <Fragment slot="subtitle">

      La tecnologia en nuestro alrededor, nuevas formas de ver el futbol con la tecnologia
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
  id="features"
  tagline="Características"
  title="Lo que obtienes con SoccerStats"
  subtitle="Una de las plantillas de estadísticas de fútbol más profesionales y completas del mercado. La plataforma de estadísticas de fútbol más referenciada y utilizada en 2022."
  items={[
    {
      title: 'Actualizaciones de Partidos en Vivo',
      description:
        'Actualizaciones en tiempo real de todos los partidos en curso, proporcionando marcadores, estadísticas de jugadores y notificaciones de eventos clave.',
      icon: 'tabler:soccer-field',
    },
    {
      title: 'Componentes Listos para Usar',
      description:
        'Widgets diseñados para ser utilizados en sitios web de equipos de fútbol, blogs deportivos, perfiles de jugadores y negocios relacionados con el deporte.',
      icon: 'tabler:components',
    },
    {
      title: 'Mejores Prácticas',
      description:
        'Creación de sitios web seguros, eficientes y amigables con el usuario que ofrecen experiencias excepcionales y un valor duradero.',
      icon: 'tabler:list-check',
    },
    {
      title: 'Excelente Velocidad de Página',
      description:
        'Tener una buena velocidad de página impacta en el ranking de búsqueda orgánica, mejora la experiencia de usuario (UI/UX) y aumenta las tasas de conversión.',
      icon: 'tabler:rocket',
    },
    {
      title: 'Optimización para Motores de Búsqueda (SEO)',
      description:
        'La SEO se destaca por su capacidad de mejorar la visibilidad de un sitio web, impulsando el tráfico orgánico y permitiendo alcanzar a un público más amplio.',
      icon: 'tabler:arrows-right-left',
    },
    {
      title: 'Abierto a nuevas ideas y contribuciones',
      description:
        'Fomentar una cultura que esté abierta a nuevas ideas y contribuciones es fundamental para impulsar la innovación, la colaboración y una experiencia de usuario dinámica.',
      icon: 'tabler:bulb',
    },
  ]}
/>


  <!-- Content Widget **************** -->

  <Content
    id="features2"
    isReversed
    tagline="Explora la Historia"
    title="Un Viaje por la Historia del Fútbol: De sus Orígenes a la Actualidad"
    items={[
      {
        title: 'Orígenes Antiguos',
        description:
          'Descubre los inicios del fútbol en la antigüedad, desde juegos de pelota en culturas como la china, griega y maya, evolucionando a través de los siglos.',
      },
      {
        title: 'Codificación de las Reglas',
        description:
          'La transformación del fútbol con la codificación de las reglas en 1863 en Inglaterra, estableciendo el fundamento del deporte moderno.',
      },
      {
        title: 'Expansión Global',
        description:
          'Cómo el fútbol se expandió para convertirse en el deporte más popular del mundo, con un impacto cultural profundo en numerosos países.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90oy1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Vintage football',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Desde los Campos Antiguos hasta los Estadios Modernos</h3>
      Sumérgete en la evolución del fútbol y cómo se ha convertido en más que un juego, influenciando la política, sociedad y economía global.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>


  <!-- Content Widget **************** -->

  <Content
  id="Avances Tecnologicos"
  isAfterContent
  items={[
    {
      title: 'Análisis de Juego Avanzado',
      description: `La utilización de software de análisis de juego permite a los entrenadores y analistas estudiar en profundidad cada movimiento en el campo, optimizando estrategias y tácticas.`,
    },
    {
      title: 'Tecnología de Porteros',
      description:
        'Tecnologías especializadas como cámaras y sensores en la portería ayudan a determinar con exactitud si el balón ha cruzado la línea de gol, garantizando la precisión en las decisiones críticas.',
    },
    {
      title: 'Monitoreo de la Condición Física',
      description:
        "Equipos y dispositivos de seguimiento físico permiten monitorizar la condición física de los jugadores en tiempo real, ayudando a prevenir lesiones y a gestionar cargas de trabajo.",
    },
    {
      title: 'Realidad Aumentada para Entrenamientos',
      description:
        'La realidad aumentada se está integrando en los entrenamientos para simular situaciones de juego, permitiendo a los jugadores mejorar sus decisiones y habilidades sin el riesgo de lesiones.',
    },
  ]}
  image={{
    src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90oy1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
    alt: 'Futuristic Football Technology',
  }}
>
  <Fragment slot="content">Explora cómo la tecnología está transformando el fútbol moderno, mejorando la precisión y la experiencia tanto para jugadores como para aficionados.</Fragment>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Content>


  <!-- Content Widget **************** -->

  <!-- Content Widget **************** -->

<Content
isReversed
isAfterContent
items={[
  {
    title: 'Tecnología VAR',
    description:
      'El VAR (Video Assistant Referee) ha revolucionado las decisiones arbitrales, permitiendo una revisión detallada de jugadas controversiales para asegurar la justicia en el juego.',
  },
  {
    title: 'Sensores y Análisis de Rendimiento',
    description:
      'El uso de sensores y tecnología de seguimiento permite a los equipos medir el rendimiento de los jugadores en tiempo real, optimizando la estrategia y la preparación física.',
  },
  {
    title: 'Balones Inteligentes',
    description:
      'Balones equipados con chips que transmiten datos precisos sobre su posición y movimiento, mejorando la exactitud en las decisiones de goles y fuera de juego.',
  },
  {
    title: 'Implementación de la Inteligencia Artificial',
    description:
      'La inteligencia artificial se utiliza para analizar patrones de juego y proporcionar estrategias avanzadas, personalizando los entrenamientos y mejorando las tácticas de juego.',
  },
]}
image={{
  src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90oy1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
  alt: 'Futuristic Football Technology',
}}
>
<Fragment slot="content">Explora cómo la tecnología está transformando el fútbol moderno, mejorando la precisión y la experiencia tanto para jugadores como para aficionados.</Fragment>

<Fragment slot="bg">
  <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
</Fragment>
</Content>


  <!-- Steps Widget ****************** -->

  
  <!-- Features2 Widget ************** -->

  <Features2
    id="videogames"
    title="Videojuegos de Fútbol Más Populares"
    subtitle="Explora los componentes esenciales que hacen de estos juegos una experiencia inolvidable para los aficionados al fútbol"
    tagline="Videojuegos"
    items={[
      {
        title: 'FIFA',
        description: "El titán de los simuladores de fútbol, ofreciendo una jugabilidad realista y ligas de todo el mundo.",
        //icon: 'flat-color-icons:game-controller',
      },
      {
        title: 'Pro Evolution Soccer (PES)',
        description:
          "Conocido por su tacto y precisión en el control del balón, PES ofrece una alternativa desafiante para los aficionados al fútbol.",
        //icon: 'flat-color-icons:football',
      },
      {
        title: 'Football Manager',
        description:
          '¿Te gusta la estrategia? Este juego te permite gestionar tu club favorito y llevarlo a la gloria desde la oficina del entrenador.',
        //icon: 'flat-color-icons:manager',
      },
      {
        title: 'Rocket League',
        description:
          "Una mezcla explosiva de coches y fútbol. ¡Vive la emoción de marcar goles a toda velocidad en arenas futuristas!",
        //icon: 'flat-color-icons:rocket',
      },
      {
        title: 'FIFA Street',
        description:
          'Explora el fútbol callejero con regates espectaculares y partidos en entornos urbanos únicos.',
       // icon: 'flat-color-icons:street-view',
      },
      {
        title: 'eFootball',
        description: 'La evolución digital del fútbol, ofreciendo partidos rápidos y competencias en línea contra jugadores de todo el mundo.',
        //icon: 'flat-color-icons:online-gaming',
      },
      {
        title: 'Ultimate Team',
        description: 'Forma tu equipo de ensueño combinando estrellas del pasado y del presente en este popular modo de FIFA.',
       // icon: 'flat-color-icons:team',
      },
      {
        title: 'Career Mode',
        description:
          'Vive la carrera de un jugador desde sus inicios hasta convertirse en una leyenda mundial en este apasionante modo de juego.',
        //icon: 'flat-color-icons:career',
      },
      {
        title: 'Volta Football',
        description: "Fútbol rápido y estilizado con un enfoque en el juego callejero y técnico. ¡Dale estilo a tus jugadas!",
        //icon: 'flat-color-icons:dance',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>


  <!-- HighlightedPosts Widget ******* -->


 
  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
  id="cr7"
    actions={[
      {
        variant: 'primary',
        text: 'Conocer mas acerca del jugador',
        href: 'https://ronaldocr7.com/',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      CR7&nbsp;&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">-Portugal</span>
    </Fragment>

    <Fragment slot="subtitle">
      El mejor futbolista del futbol y El mejor inversionista<br class="hidden md:inline" />
    </Fragment>
  </CallToAction>
</Layout>
